* {
    background-color: rgba(219, 219, 219, 0.733);
    padding: 10px;
}
#nome{
    text-align: center;
    
}
#links{
    margin-left: 50px;
    display: inline;
}
#start{
    display:flex;
    align-items: center;
    margin-left: 30px;

}
#descrytion{
    text-align:left;
    font-family: Supermercado One;
    margin-left: 50px;
    width: 30%;
}
#img {
    border-radius: 75px;
    padding: 5px;
    background-color: aquamarine;

}
#habilty{
    text-align: center;
}
.item {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    margin-left: 300px;
}
.item:nth-child(odd){
    background-color: cadetblue;
}